{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Hosts" %}{% endblock %}

{% block main %}

    <form id="create_router_form" ng-controller="DummyController" name="" autocomplete=""
          class="ng-pristine ng-valid ng-scope" action="/log_management/" method="POST">
        {% csrf_token %}
        <div class="modal-body clearfix">
            <div class="row">
                <div class="col-sm-6">
                    <fieldset>




                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/project/routers/" class="btn btn-default cancel">
                Cancel
            </a>
            <input class="btn btn-primary" type="submit" value="Refresh">
        </div>
    </form>
    {{ table.render }}
{% endblock %}