{% block main %}
    <form class="form-horizontal" action="/docker_swarm/" method="GET">

        <div class="form-group">
            <label for="select" class="col-md-1 control-label">Service</label>
            <div class="col-md-3">
                <select class="form-control" id="select" name="service">
                    <option value="-1">--choose service--</option>
                    {% for s in services %}
                        {% if selected == s %}
                            <option value="{{ s }}" selected="selected">{{ s }}</option>
                        {% else %}
                            <option value="{{ s }}">{{ s }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Apply"/>
        </div>

    </form>
    <div class="row">
        <div class="col-sm-12">
            {{ table.render }}
        </div>
    </div>
{% endblock %}