

{% block main %}
    <div class="scale_container"
         data-mode-scale-container-url="{% url "horizon:docker_swarm:docker_service:service_monitor:mode_scale" %}"
         data-usage-container-url="{% url "horizon:docker_swarm:docker_service:service_monitor:service_detail" %}"
         data-request-scale-container-url="{% url "horizon:docker_swarm:docker_service:service_monitor:scale_action" %}"
         data-service-now="{{ selected }}">
    </div>
    <form class="form-horizontal" action="/docker_swarm/" method="GET">

        <div class="form-group">
            <label for="select" class="col-md-1 control-label">Service</label>
            <div class="col-md-3">
                <select class="form-control" id="select" name="service">
                    <option value="-1">--choose service--</option>
                    {% for s in services %}
                        {% if selected == s %}
                            <option value="{{ s }}" selected="selected">{{ s }}</option>
                        {% else %}
                            <option value="{{ s }}">{{ s }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-primary apply_btn_scale" value="Apply"/>
        </div>

    </form>

    <div class="row">
        <div class="col-sm-12">
            {{ table.render }}
        </div>
    </div>


    <div class="info row detail">
        <div class="col-sm-12">
            <hr class="header_rule"/>
            <div class="info row detail">
                <div class="col-sm-9">
                    <div class="chart"
                         data-chart-type="container_line_chart"
                         data-container-list-url="{% url "horizon:docker_swarm:docker_service:service_monitor:container_list" %}"
                         data-container-detail-url="{% url "horizon:docker_swarm:docker_service:service_monitor:container_cpu_detail" %}"
                         data-form-selector='#line_chart_nova_log_form'
                         data-legend-selector="#legend"
                         data-smoother-selector="#smoother"
                         data-slider-selector="#slider">
                    </div>
                    <div class="legend"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="info row detail">
        <div class="col-sm-12">
            <hr class="header_rule"/>
            <div class="info row detail">
                <div class="col-sm-9">
                    <div class="chart"
                         data-chart-type="container_line_chart"
                         data-container-list-url="{% url "horizon:docker_swarm:docker_service:service_monitor:container_list" %}"
                         data-container-detail-url="{% url "horizon:docker_swarm:docker_service:service_monitor:container_ram_detail" %}"
                         data-form-selector='#line_chart_nova_log_form'
                         data-legend-selector="#legend"
                         data-smoother-selector="#smoother"
                         data-slider-selector="#slider">
                    </div>
                    <div class="legend"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}