{#{% extends 'base.html' %}#}
{% extends 'docker_swarm/base.html' %}
{% load i18n %}
{% block title %}{% trans "Service_Monitor" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Service_Monitor") %}
{% endblock page_header %}

{% block main %}
    <form class="form-horizontal" action="/docker_swarm/service_monitor/" method="GET">

        <div class="form-group">
            <label for="select" class="col-md-1 control-label">Service</label>
            <div class="col-md-3">
                <select class="form-control" id="select" name="service">
                    <option value="-1">--choose service--</option>
                    {% for s in services %}
                        {% if selected == s %}
                            <option value="{{ s }}" selected="selected">{{ s }}</option>
                        {% else %}
                            <option value="{{ s }}">{{ s }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Apply"/>
        </div>

    </form>
    <div class="row">
        <div class="col-sm-12">
            {{ table.render }}
        </div>
    </div>

    <div class="info row detail">
        <div class="col-sm-12">
            <hr class="header_rule"/>
            <div class="info row detail">
                <div class="col-sm-9">
                    <div class="chart"
                         data-chart-type="container_line_chart"
                         data-container-list-url = "{% url "horizon:docker_swarm:service_monitor:container_list" %}"
                         data-container-detail-url="{% url "horizon:docker_swarm:service_monitor:container_cpu_detail" %}"
                         data-form-selector='#line_chart_nova_log_form'
                         data-legend-selector="#legend"
                         data-smoother-selector="#smoother"
                         data-slider-selector="#slider">
                    </div>
                    <div class="legend"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="info row detail">
        <div class="col-sm-12">
            <hr class="header_rule"/>
            <div class="info row detail">
                <div class="col-sm-9">
                    <div class="chart"
                         data-chart-type="container_line_chart"
                         data-container-list-url = "{% url "horizon:docker_swarm:service_monitor:container_list" %}"
                         data-container-detail-url="{% url "horizon:docker_swarm:service_monitor:container_ram_detail" %}"
                         data-form-selector='#line_chart_nova_log_form'
                         data-legend-selector="#legend"
                         data-smoother-selector="#smoother"
                         data-slider-selector="#slider">
                    </div>
                    <div class="legend"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




